	<section id="fh5co-intro">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				<div class="fh5co-block" style="background-image: url(img/img_7.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon fa fa-suitcase"></i>
						<h2>Investigation</h2>
						<p>Focused on the development of strategic capabilities and implementation needed to help institutions and companies to take advantage of this transformative technology.</p>
						<p><a  data-nav-section="contact" class="btn btn-primary scroll-link">Contact Us</a></p>
					</div>
				</div>

        <div class="fh5co-block" style="background-image: url(img/img_8.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon fa fa-cubes"></i>
						<h2>Training</h2>
						<p>Workshops and training courses that will allow you to explore the next challenges and opportunities offered by block technologies and their impact on the current social, economic and political order.</p>
						<p><a target="_blank" href="http://eepurl.com/c2i8Xz" class="btn btn-primary" rel="noopener noreferrer">I'm Interested</a></p>
					</div>
				</div>

        <div class="fh5co-block" style="background-image: url(img/img_10.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon fa fa-users"></i>
						<h2>Events</h2>
						<p>Open networking events focused on blockchain technology and digital currencies to discuss the latest news, developments and trends within the industry.</p>
						<p><a target="_blank" href="https://meetup.com/BlockchainCR" class="btn btn-primary" rel="noopener noreferrer">Join</a></p>
					</div>
				</div>

			</div>

			<div class="watch-video text-center col-md-8 col-md-offset-2">
				<!-- <span>{{ with .Site.Params.intro.video }}{{ . }}{{ end }}</span> -->
				<span>What is Blockchain?</span>
        <div class="video-wrapper ">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/TtNPF1gCiXk?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <!-- <a href="https://www.youtube.com/watch?v=TtNPF1gCiXk&rel=0" class="popup-vimeo btn-video"><i class="icon-play2"></i></a> -->
			</div>
		</div>
	</section>
